<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.mapper.HistoryMapper">

	<insert id="create">
		<selectKey keyProperty="historyNo" resultType="int" order="BEFORE">
			SELECT SEQ_HISTORY.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO HISTORY (HISTORY_NO, HISTORY_CONTENT, HISTORY_DATE, MEMBER_NO)
		VALUES (#{historyNo}, #{historyContent},  #{historyDate}, #{memberNo})
	</insert>

	<select id="read" resultType="com.mit.domain.HistoryVO">
		SELECT HISTORY_NO, HISTORY_CONTENT, HISTORY_DATE, MEMBER_NO
		FROM HISTORY
		WHERE HISTORY_NO = #{historyNo}
	</select>

	<update id="update">
		UPDATE HISTORY SET
		HISTORY_CONTENT = #{historyContent},
		HISTORY_DATE = #{historyDate}
		WHERE HISTORY_NO = #{historyNo}
	</update>

	<delete id="delete">
		DELETE FROM HISTORY
		WHERE HISTORY_NO = #{historyNo}
	</delete>

	<select id="list" resultType="com.mit.domain.HistoryVO">
		<![CDATA[
	      	SELECT * FROM (
	      		SELECT ROWNUM RNUM, HISTORY_NO, HISTORY_CONTENT, HISTORY_DATE, MEMBER_NO
				FROM (
					SELECT HISTORY_NO, HISTORY_CONTENT, HISTORY_DATE, MEMBER_NO
					FROM HISTORY
					WHERE HISTORY_NO > 0
		]]>
		<![CDATA[
			ORDER BY HISTORY_NO ASC))
			WHERE RNUM > 0
			ORDER BY HISTORY_NO ASC
		]]>
	</select>
	
</mapper>