<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.mapper.MemberMapper">

	<select id="login" resultType="com.mit.domain.MemberVO">
		SELECT MEMBER_NO, MEMBER_PW, MEMBER_NAME, MEMBER_PHONE, MEMBER_CLASS, ALLOW_DATE
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo} AND MEMBER_PW = #{memberPw}
	</select>
	
	<insert id="change">
		INSERT INTO MEMBER (MEMBER_NO, MEMBER_PW, MEMBER_NAME, MEMBER_PHONE, MEMBER_CLASS)
		SELECT JOIN_NO, JOIN_PW, JOIN_NAME, JOIN_PHONE, JOIN_CLASS
		FROM JOIN
		WHERE JOIN_NO = #{joinNo}
	</insert>
	
	<insert id="create">
		INSERT INTO MEMBER (MEMBER_NO, MEMBER_PW, MEMBER_NAME, MEMBER_PHONE, MEMBER_CLASS)
		VALUES(#{memberNo}, #{memberPw}, #{memberName}, #{memberPhone}, #{memberClass})
	</insert>
	
	<select id="read" resultType="com.mit.domain.MemberVO">
		SELECT MEMBER_NO, MEMBER_NAME, MEMBER_PHONE, MEMBER_CLASS, ALLOW_DATE, DORMANCY_STATUS
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<update id="update">
		UPDATE MEMBER SET MEMBER_PW = #{memberPw},
		MEMBER_NAME = #{memberName},
		MEMBER_PHONE = #{memberPhone},
		MEMBER_CLASS = #{memberClass},
		DORMANCY_STATUS = #{dormancyStatus}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="listSearch" resultType="com.mit.domain.MemberVO">
		SELECT * FROM (
		SELECT
		ROWNUM RNUM, MEMBER_NO, MEMBER_NAME, MEMBER_PHONE, MEMBER_CLASS, DORMANCY_STATUS
		FROM MEMBER
		WHERE ROWNUM >0
		)
	</select>
	
	<select id="idCheck" resultType="int">
		SELECT (
		    SELECT COUNT(*)
		    FROM MEMBER
		    WHERE MEMBER_NO = #{memberNo}
		    ) + (
		    SELECT COUNT(*)
		    FROM JOIN
		    WHERE JOIN_NO = #{memberNo}
		    )
		FROM DUAL
	</select>
	
</mapper>
