<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.mapper.QnaMapper">

	<insert id="create">
		<selectKey keyProperty="qnaNo" resultType="int" order="BEFORE">
			SELECT SEQ_QNA.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO QNA (QNA_NO, QNA_TITLE, QNA_CONTENT, QNA_CLASS, MEMBER_NO, HIDDEN_STATUS)
		VALUES 
		(#{qnaNo}, #{qnaTitle}, #{qnaContent}, #{qnaClass}, #{memberNo}, #{hiddenStatus})
	</insert>

	<select id="read" resultType="com.mit.domain.QnaVO">
		SELECT Q.QNA_NO, Q.QNA_CLASS, Q.QNA_TITLE, Q.QNA_CONTENT, Q.HIDDEN_STATUS, TO_CHAR(Q.QNA_DATE, 'YYYY-MM-DD HH24:MI:SS') AS QNA_DATE, Q.QNA_VIEW, M.MEMBER_NO, M.MEMBER_NAME
		FROM QNA Q, MEMBER M
		WHERE M.MEMBER_NO = Q.MEMBER_NO
		AND QNA_NO = #{QNANo}
	</select>

	<update id="update">
		UPDATE QNA
		SET QNA_TITLE = #{qnaTitle}, 
		QNA_CONTENT = #{qnaContent}
		WHERE QNA_NO = #{qnaNo}
	</update>

	<delete id="delete">
		DELETE FROM QNA
		WHERE QNA_NO = #{qnaNo}
	</delete>

	
	<select id="list" resultType="com.mit.domain.QnaVO">
		<![CDATA[
			SELECT * FROM (
				SELECT
				ROWNUM RNUM, QNA_NO, QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_CLASS, MEMBER_NO, MEMBER_NAME, HIDDEN_STATUS, QNA_VIEW
      			FROM ( 
      				SELECT
      				Q.QNA_NO, Q.QNA_TITLE, Q.QNA_CONTENT, Q.QNA_DATE, Q.QNA_CLASS, M.MEMBER_NO, M.MEMBER_NAME, Q.HIDDEN_STATUS, Q.QNA_VIEW
      				FROM
      				QNA Q, MEMBER M
      				WHERE M.MEMBER_NO = Q.MEMBER_NO
      				AND Q.QNA_NO > 0
		]]>

		<![CDATA[
			ORDER BY Q.QNA_NO ASC))
			WHERE RNUM >= 1
			ORDER BY QNA_NO DESC, QNA_DATE DESC
		]]>
	</select>
		
	<insert id="insertFile">
		INSERT INTO QNA_FILE(FILE_NO, FILE_NAME, QNA_NO)
		VALUES(SEQ_QNA_FILE.NEXTVAL, #{fileName}, #{QNANo})
	</insert>

	<insert id="deleteFile">
		DELETE FROM QNA_FILE WHERE QNA_NO = #{qnaNo}
	</insert>

	<select id="fileList" resultType="com.mit.domain.QnaFileVO">
		SELECT FILE_NO, SUBSTR(FILE_NAME, 50) AS FILE_NAME, FILE_NAME AS FILE_LOCATION, QNA_NO
		FROM QNA_FILE
		WHERE QNA_NO = #{qnaNo}
	</select>
	
   <update id="updateViewCount">
    	UPDATE QNA SET
    	QNA_VIEW = QNA_VIEW+1
    	WHERE QNA_NO = #{qnaNo}
    </update>
	

</mapper>